@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.cell {
  width: 90px;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cell:hover {
  background: #fff2f2d5;
}
.cell.selected {
  background: #feeded;
}
.days {
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 23px;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(1.06);
  margin-top: 9px;
}
.days-container {
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  transform: scale(0.95);
  border: 2px solid #eeeeee;
  width: 100%;
  display: flex;
  justify-content: center;
}
